*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
#hero{
    min-height: 100vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient(to top,rgba(0,0,0,0.5)25%,rgba(0,0,0,0.5)25%),url("autumn-leaves-composition.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    nav{
        display:flex ;
        justify-content: space-evenly;
        align-items: center;
        height: min-content;
        padding: 10px 5px;
        color:hsl(0, 0%, 80%) ;
        background: hsl(0, 0%, 5%);
        position: sticky;
        top: 0;

        .logo{
            display: flex;
            flex-direction: row;
            gap: 5px;

            h1{
                align-self: center;
            }

            img{
                width: 50px;
                height: 50px;
                border-radius: 5px;
            }
        }
        ul{
            display:flex ;
            gap: 15px;
            list-style: none;
            align-items: center;

            a{
                text-decoration: none;
                color: hsl(0, 0%, 80%);
                font-weight: 600;
            }

            li{
                cursor: pointer;
                font-weight: 600;
                transition: 0.5s ease-out;
                background: hsl(0, 0%, 3%);
                padding: 10px 20px;
                border-radius: 10px;
            }
            li:hover{
                padding: 10px 20px;
                color: hsl(0, 0%, 10%);
                transition: 0.4s ease-in-out;
                background: hsl(212, 56%, 40%);
                border-radius: 5px;
            }
        }
    }
    main{
        height: calc(100vh - 70px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: hsl(0, 0%, 80%);
        text-align: center;

        h1{
            font-size: 3rem;
            margin-bottom: 5px;
            animation: fade_In 2s ease-in-out 0s 1;
        }

        p{
            font-size: 1.5rem;
            margin-bottom: 20px;
            text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
            animation: fade_In 3s ease-in-out 0s 1;
        }

        button{
            padding: 10px 20px;
            font-size: 1.2rem;
            border: none;
            border-radius: 5px;
            background: hsl(212, 56%, 40%);
            color: hsl(0, 0%, 95%);
            cursor: pointer;
            transition: 0.3s ease-in-out;
            animation: fade_In 3s ease-in-out 0s 1;
        }

        button:hover{
            background: hsl(212, 70%, 30%);
        }
}
}
#about-section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: hsl(0, 0%, 25%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    section{
        flex: 0.5;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        animation: fade_In 2s ease-in-out 0s 1;

        h2{
            font-size: 2rem;
            margin-bottom: 10px;
            color: hsl(0, 0%, 70%);
        }

        p{
            font-size: 1.2rem;
            max-width: auto;
            color: hsl(0, 0%, 60%);
        }
    }
    .card-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        padding: 20px;

        .card{
            background: hsl(0, 0%, 15%);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            width: 400px;
            height: min-content;
            text-align: center;
            transition: all 0.3s ease-in-out;
            animation: fade_In 2s ease-in-out 0s 1;

            h3{
                margin-bottom: 10px;
                color: hsl(0, 0%, 70%);
                font-size: 1.5rem;
            }

            p{
                color: hsl(0, 0%, 60%);
                text-align: left;
                text-spacing-trim: space-all;
            }
        }
        .card:hover{
            box-shadow: 0 4px 10px hsl(0, 0%, 3%);
            transform: translateY(-20px);
            transition: all 0.3s ease-in-out;
            scale: 0.98;
    }
}
}
#footer-section{
    height: 20vh;
    background: hsl(0, 0%, 5%);
    color: hsl(0, 0%, 80%);
    display: flex;
    justify-content: center;
    align-items: center;

    p{
        font-size: 1.2rem;
    }
}
@media (max-width:800px) {
    #hero{
        nav{
            ul{
                li{
                    display: none;
                }
            }
        }
        main{
            section{
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
    }
}
@keyframes fade_In {
    from{
        transform: translateX(-100px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}